@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@300;400&display=swap');

:root {
  --green-opacity: rgba(45, 94, 48, 0.8);
  --grey-opacity: rgba(51, 51, 51, 0.6);
  --red: rgb(212, 67, 67);
  --dark-red: rgb(190, 46, 46);
  --dark: rgb(32, 32, 32);
  --white-opacity: rgba(255, 255, 255, 0.2);
}

body {
  padding: 0;
  margin: 0;
}

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: 'Indie Flower', sans-serif;
  font-size: 42px;
  margin: 0 0 25px 0;
}

.toast {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  top: 10vh;
  color: white;
  background: var(--red);
}

.App {
  background: url('https://images.unsplash.com/photo-1509629555017-fb1950574d52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(5px);
  min-height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(238, 217, 101, .7);
  color: var(--dark);
  width: 50%;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}


form {
  display: flex;
  color: white;
  align-items: flex-end;
}

form small {
  margin: 0 0 2px 3px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

div.present-name {
  flex: 1;
}

div.present-quantity {
  width: 20%;
}

button.add-button {
  height: 29px;
}

input, button {
  border-radius: 4px;
  border: 1px solid rgb(165, 43, 43);
  font-size: 16px;
  padding: 4px 8px;
  margin: 0 2px;
}

button {
  background-color: var(--red);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color:var(--dark-red);
}

ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ol {
  color: white;
  cursor: pointer;
  background: var(--green-opacity);
  padding: 6px 6px;
  border-radius: 7px;
  margin: 4px 4px 4px 0;
}

ol:hover {
  text-decoration: line-through;
}
